body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:after {
  font-family: FontAwesome;
  content: "\f28d";
  font-weight: 900;
  display: block;

  animation: change 4s linear infinite;
}

@keyframes change {
  0% {
    font-family: FontAwesome;
    content: "\f04d";
    font-weight: 900;
    font-size: 3rem;
    transform: rotate(0deg);
    color: yellow;
    /* box-sizing: border-box;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 1%; */
  }
  25% {
    font-family: FontAwesome;
    content: "\f009";
    font-weight: 900;
    font-size: 6rem;
    transform: rotate(90deg);
    color: yellowgreen;
    /* box-sizing: border-box;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 1%; */
  }
  50% {
    font-family: FontAwesome;
    content: "\f00a";
    font-weight: 900;
    font-size: 9rem;
    transform: rotate(180deg);
    color: olive;
    /* box-sizing: border-box;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 1%; */
  }
  75% {
    font-family: FontAwesome;
    content: "\f009";
    font-weight: 900;
    font-size: 6rem;
    transform: rotate(90deg);
    color: yellowgreen;
  }
  100% {
    font-family: FontAwesome;
    content: "\f04d";
    font-weight: 900;
    font-size: 3rem;
    transform: rotate(0deg);
    color: yellow;
  }
}
